#game-box {
    background-color: rgb(0, 0, 0);

    min-width: 45%;
    max-width: 45%;

    box-shadow: 0px 10px 20px blue;
    border: 2px solid rgb(130, 138, 255);
    border-radius: 4vw;

    opacity: 0.98;
}

.best-time {
    color: white;
    display: inline-flex;
    position: relative;
    bottom: 5px;
}

.current-time {
    color: white;
    display: inline-flex;
    position: relative;
    top: 470px;
}

#play-again {
    color: white; 
    text-align: center; 
    line-height: 7vh;

    width: 14vw;
    height: 7vh;

    background-color: rgb(41, 41, 160);

    border: none;
    border-bottom: 5px solid rgb(21, 21, 100);
    border-radius: 8px;

    box-shadow: 0px 0px 8px 2px rgb(130, 138, 255);
    
    cursor: pointer;
}

#play-again:hover {
    box-shadow: 0px 0px 18px 2px rgb(130, 138, 255);
}