body {
  background-image: url("./images/Circuits.jpg");
  background-color: rgb(41, 38, 38);
  background-size: cover;

  font-family: 'Orbitron', sans-serif;
  
  user-select: none;

  overflow: hidden;
}

#menu-body {
  background-image: url("./images/circuits.svg");
}

#game-body {
  background-image: url("./images/Circuits.jpg");
}