body {
  background-image: url("./images/Circuits.jpg");
  background-color: rgb(41, 38, 38);
  background-size: cover;

  font-family: 'Orbitron', sans-serif;
  
  user-select: none;

  overflow: hidden;
}

#menu-body {
  background-image: url("./images/circuits.svg");
}

#game-body {
  background-image: url("./images/Circuits.jpg");
}

#content {
  position: relative;
  top: 10vh;

  height: 65vh;

  width: 35vw;

  border-radius: 50px;

  background-color: rgb(0, 0, 0);
  opacity: 0.9;

  border: 3px solid rgb(130, 138, 255);
  box-shadow: 0px 10px 20px red;
}